node {
    size:         20px;
    shape:        circle;
    stroke-mode:  plain;
    stroke-color: black;
    fill-color: #A3CB38;
    text-size:    16;
    text-style:   normal;
    text-color:   black;
    text-alignment: at-right;
    text-padding: 3px, 2px;
    text-background-mode: rounded-box;
    text-background-color: #A7CC;
    text-offset: 5px, 0px;
}

node:clicked {
    fill-color: #1B1464;
    text-color:   #FFF;
    text-alignment: at-right;
    text-padding: 3px, 2px;
    text-background-mode: rounded-box;
    text-background-color: #1B1464;
    text-color: white;
    text-offset: 5px, 0px;
}

edge {
    size:           2px;
    fill-mode:      plain;
    fill-color: rgb(200,210,200);
}

edge.label {
    text-size: 20px;
}