node:clicked {
    fill-color: red;
    text-size:    16;
    text-style:   bold;
    text-color:   #FFF;
    text-alignment: at-right;
    text-padding: 3px, 2px;
    text-background-mode: rounded-box;
    text-background-color: #A7CC;
    text-color: white;
    text-offset: 5px, 0px;
}

node {
    /*size:         20px;
    shape:        circle;
    fill-color:   #8facb4;
    stroke-mode:  plain;
    stroke-color: black;
    */
        fill-color: black;
        text-size:    30;
        text-style:   bold;
        text-color:   black;
        text-alignment: at-right;
        text-padding: 3px, 2px;
        text-background-mode: rounded-box;
        text-background-color: #A7CC;
        text-offset: 5px, 0px;

}

edge {
    size:           1px;
    fill-mode:      plain;
    fill-color: black;
    /*changing edge layout here also doesn't work*/
}